.female {
  background-color: pink;
  font-style: italic;
}

.male {
  background-color: cyan;
}

.underlined {
  text-decoration: underline;
  font-weight: bold;
}

.student {
  display: inline-block;
  width: 380px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  height: 35px;
}

.student > span {
  line-height: 35px;
}

.delete {
  background-color: #1976d2;
  padding: 10px;
  border-radius: 6px;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 10px;
  float: right;
}
