<div class="wrapper">
  <h2>Student List</h2>
  <div class="studentForm">
    <div class="studentField">
      <label for="txtName">Name: </label>
      <input [(ngModel)]="studentName" type="text" id="txtName" #txtName />
    </div>
    <div class="studentField">
      <input [(ngModel)]="studentGender" type="radio" name="gender" value="M" />
      Male
      <input [(ngModel)]="studentGender" type="radio" name="gender" value="F" />
      Female
    </div>
    <div class="studentField">
      <label for="lstCity">City: </label>
      <select [(ngModel)]="studentCity" id="lstCity">
        @for (item of cities; track $index) {
        <option>{{ item }}</option>
        }
      </select>
    </div>
    <div class="studentField">
      <button
        [disabled]="studentName?.length < 2"
        (click)="onCreateStudent()"
        class="add"
      >
        Add
      </button>
    </div>
  </div>
  @for (item of studentList; track $index) {
  <div class="item">
    <span>{{ $index + 1 }}</span>
    <app-student
      (deleteStudentEvent)="onDeleteStudent($event)"
      [student]="item"
    ></app-student>
    <!-- <button (click)="onDeleteStudent($index)" class="delete">Delete</button> -->
  </div>
  }
</div>
