.container{
	overflow:auto;
}

.modal {
   position: absolute;
   top: 300px;
   left: 100px;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-content{
   max-width:300px; 	
}

.modal form > button{
	font-weight:bold;
	border-radius:6px;
}

.modal form input {
	border-radius:6px;
}

.modal button:nth-of-type(2){
	padding-top:8px !important;
}

/* ******************************************* */

/* profilo utente in alto a destra */
.row:nth-of-type(1) > div:nth-of-type(3) img{
	height:85px;
	border-radius:34px;
}

/* ******************************************* */

.newPost{
	padding-top:10px;
	margin-bottom:12px;
}

.newPost textArea{
  background-color:#ddd;
  border-radius:10px;
  width:100%;
  border:none;
  padding:6px;
  padding-left:10px;
}

.newPost label, .newPost button{
	padding:2px 8px;
	margin-bottom:5px;
}

#newPostFile{
	padding:2px;
}

/* ************************************* */

/* data ora e user */
tbody span:nth-of-type(1){
	font-size:10pt;
}
/* title */
tbody span:nth-of-type(2){
	font-size:13pt;
}
tbody img{
	max-height:180px;
	margin-bottom:8px;
}
tbody span:nth-of-type(3){
	font-size:11pt;
	padding-left:10px;
	padding-right:30px;
}

tbody button{
	background-color:#f4f4f4;
	border-radius:6px;
	padding-bottom:2px;
}