<div class='row' >
    <div class="col-sm-12 text-center" style="margin:10px;"> 
        <input type="file" id="txtFile">
        <input type="text" id="newUser" placeholder="your username">
        <input type="button" id="btnAdd" value="Add New User">
    </div> 
    <div class="col-sm-12 text-center" style="margin:10px;">
        <h2 style="margin-top:6px; margin-bottom:30px;">
            La chat online più accattivante di sempre
        </h2>
        <img src="/chat.jpg" class="img-fluid">
    </div>
</div>
